* {
    font-family: 'Times New Roman', Times, serif;
}

/* Affects the header of the page */
h1 {
    text-align: center;
    background-color: lightgrey;
    padding: 20px;
    border: 20px;
    border-color: black;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

/* Background image and effects */
.background {
    background-image: url(./Images/Forest\ Photo);
    /* <!-- The picture is freely sourced from https://unsplash.com/s/photos/forest which was taken by Lukasz Szmigiel--> */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Contact information */
.contact {
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
}

.header {
    display: block;
    position: relative;
    margin-bottom: 40px;
}

.headshot {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    width: 25%;
    padding: 5px;
    background-color: black;
    margin-top: 10px;
}

.clink {
    background-color: white;
    margin-left: 20px;
    max-height: 40px;
    padding:20px;
    border-radius: 20px;
    margin: 10px;
    font-size: small;
}

/* Navigation of Portfolio */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    background-color: lightcoral;
    padding: 20px;
    border: 5px solid black;
    margin: 10px;
    display: flex;   
}

/* Photo links to Projects */

.plinks {
    display: flex;
    justify-content: center;
    margin: 0px;
}

a {
    margin-right: 30px;
    ;
}

.projects {
    background-color: orange;
    text-align: center;
    padding: 20px;
    width: 500px;
    margin: auto;
    border: 5px solid black;
    border-radius:20px;
    /* margin-bottom: 20px; */
    font-size: medium;
}

nav {
    text-align: center;
    margin: auto;
}

/* Biography Section with Educational and Work Experience */
article {
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    margin-top: 40px;
}

.intro {
    text-align: center;
    background-color: orange;
    border: 5px solid black;
    border-radius:20px;
    width: 500px;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.education {
    background-color: aqua;
    padding: 10px;
    width: 500px;
    text-align: center;
    margin: 10px auto;
    border: 5px solid black;
    border-radius: 20px;
}

.work {
    background-color: aqua;
    padding: 10px;
    width: 500px;
    text-align: center;
    margin: 10px auto;
    border: 20px black;
    border: 5px solid black;
    border-radius: 20px;
}

/* Footer */
footer {
    background-color: lightgray;
    text-align: center;
    margin-top: auto;
}

/* Media Query for page break sizes */
@media screen and (max-width: 720px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .education .work{
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .ph {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .background {
        background-image: none;
        background-color: lightblue;
    }
}